# postgres config
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

# keycloak admin config
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_DB=
KEYCLOAK_DB_URL=jdbc:postgresql://eshop_db/eshop_db?currentSchema=identity
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=
KEYCLOAK_HOST=
KEYCLOAK_HTTP_PORT=